<!-- <h1>{{ title }}</h1> -->
<!-- <courses [likeCount]="twit.likeCount" [isActive]="twit.isLike"></courses> -->
<!-- <app-zippy title="Shipping details"> Shipping details Content </app-zippy>
<app-zippy title="Billing details"> Billing details content </app-zippy> -->
<!-- <app-contact-form></app-contact-form> -->
<!-- <app-course-form></app-course-form> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-posts></app-posts> -->
<!-- <app-github-following></app-github-following> -->
<!-- <app-weather></app-weather> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>